<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-outline-info"><a href="/order"> Order</a></button>
            <button type="button" class="btn btn-outline-info"><a href="order/register"> Register</a></button>
            <button type="button" class="btn btn-outline-info"><a href="order/checkout"> Checkout</a></button>
            <button type="button" class="btn btn-outline-info"><a href="/order/fullcart"> fullcart</a></button>
        </div>
    </div>
</div>